@use '@/style/mixins' as adv;

@mixin adv-list {
  @include adv.adv-component-base;

  & {
    display: block;
    list-style-position: outside;
    list-style-type: disc;
    margin: var(--adv-list-margin);
    padding: var(--adv-list-padding);
  }
}

@mixin adv-list--ordered {
  list-style-type: decimal;
}

@mixin adv-list--nested {
  list-style-type: circle;
  padding: var(--adv-list-nested-padding);
}

@mixin adv-list__item {
  padding: var(--adv-list-item-padding);
}

@mixin adv-list__item--no-marker {
  list-style: var(--adv-list-no-markers-list-style);
}

@mixin adv-list--no-markers {
  list-style: var(--adv-list-no-markers-list-style);
  padding: var(--adv-list-no-markers-padding);

  .adv-list__item {
    padding-left: 0;
  }
}
