.adv-u-margin-bottom-16 {
  margin-bottom: var(--adv-spacing-16) !important;
}

.adv-u-margin-bottom-48 {
  margin-bottom: var(--adv-spacing-48) !important;
}

.adv-u-margin-top-24 {
  margin-top: var(--adv-spacing-24) !important;
}

.adv-u-margin-y-8 {
  margin-bottom: var(--adv-spacing-8) !important;
  margin-top: var(--adv-spacing-8) !important;
}
