.adv-u-font-weight-regular {
    font-weight: var(--adv-text-font-weight-regular) !important;
}

.adv-u-font-weight-semi-bold {
    font-weight: var(--adv-text-font-weight-semi-bold) !important;
}

.adv-u-font-italic {
    font-style: italic !important;
}
