.adv-section-box {
  background-color: var(--adv-section-background-color);
  border-radius: var(--adv-section-border-radius);
  margin: var(--adv-section-margin);
  padding: var(--adv-section-padding);
}
